<nav class="navbar_section">
  <ul class="first-section">
    <li>
      <button type="button" (click)="collapseFun()">
        <img src="../../../assets/images/hamburger.png" alt="hamburger" />
      </button>
    </li>
    <li>
      <button type="button">
        <img src="../../../assets/images/search.png" alt="search" />
      </button>
    </li>
    <li>
      <button type="button">
        App
      </button>
    </li>
    <li>
      <button type="button">
        Chat
      </button>
    </li>
    <li>
      <button type="button">
        Calender
      </button>
    </li>
    <li>
      <button type="button">
        Email
      </button>
    </li>
  </ul>
  <ul class="second-section">
    <li><button type="button">
        <img src="../../../assets/images/notification.png" alt="">
    </button></li>
    <li><button type="button">
        <img src="../../../assets/images/user-1.jpg"class="user_logo" alt="">
    </button></li>
  </ul>
</nav>
